worlds/*
plugins/Essentials/userdata/*
plugins/GroupManager/worlds/*/users.yml
plugins/GroupManager/ERROR.LOG
plugins/Prism/config.yml
banned-ips.txt
banned-players.txt
ops.txt
server.log
permissions.yml
ForgeModLoader*
active
plugins/GroupManager/backup
BetaworldModpack
plugins/Towny/backup
plugins/Towny/logs
server.log.lck
plugins/Towny/data/nations
plugins/Towny/data/nations.txt
plugins/Towny/data/plot-block-data
plugins/Towny/data/regen.txt
plugins/Towny/data/residents
plugins/Towny/data/residents.txt
plugins/Towny/data/snapshot_queue.txt
plugins/Towny/data/townblocks
plugins/Towny/data/towns
plugins/Towny/data/towns.txt
plugins/Towny/data/worlds.txt
dynmap/web/tiles/*
dynmap/web/tiles/_markers_/*
dynmap/*.pending
